target/
.classpath
.springBeans
.project
.DS_Store
.idea/
.vscode/
.factorypath
out/
bin/
intellij/
build/
.build/
*.log
*.log.*
*.iml
*.ipr
*.iws
.gradle/
atlassian-ide-plugin.xml
!etc/eclipse/.checkstyle
.checkstyle
*.bak
docs
pom.xml.versionsBackup
trantor-module-metadata.json